/*Font Work*/

h1 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #ffffff;
}

h3 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #ffffff;
}

.bolder {
  font-weight: 400;
}

.intro-message > h1 {
    margin: 0;
    font-size: 2.5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}


/*Image Work*/
@media (min-width: 768px) {
    .img-responsive {
        position: absolute;
        top: -50px;
        height: 323px;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .img-responsive{
        margin: auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .img-responsive {
        padding-top: 15%;
        max-height: 323px;
    }
}

/*Navbar Move and Restyle*/
.intro-header {
    padding-top: 0;
}

.navbar-default {
    background: none;
    border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #00436e;
}
.topnav {
    font-size: 17px;
    text-transform: uppercase;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
